{% extends "base.html" %}

{% block title %}
    BoxOffice | Payment
{% endblock %}

{% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.label {
  color: white;
  padding: 8px;
  font-family: Arial;
}
.success {background-color: #4CAF50;} /* Green */
</style>

</head>

<body>
  <h1>Payment Confirmation !!</h1>
	<hr /><br /><br /><br /><br /><br><br><br><br>
<div class="text-center">
  <h1><span class="label success">Booking Done!</span></h1>
</div>

	<br><br><br><br><br><br><br><br><br><br><br>
</body>


{% endblock %}
